@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
*, 
*::before, 
*::after {
	box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: hsl(257, 40%, 49%) !important;
	background-image: url(../images/bg-desktop.svg);
	background-repeat: no-repeat;
	color: hsl(0, 100%, 100%);
}

.container {
	padding: 40px;
}

header {
	width: 200px;
	margin-bottom: 45px;
}

header img {
	width: 100%;
}

main {
	display: flex;
	flex-direction: row;
	align-items: center;
}

main .image-container {
	width: 50%;
}

main .image-container img {
	width: 100%;
}

main section {
	width: 50%;
	padding: 0px 0px 50px 50px;
}

main section h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.3;
}

main section p {
	line-height: 1.6;
}

main section .cta {
	margin-top: 40px;
}

main section a {
	padding: 15px 50px;
	background-color: hsl(0, 100%, 100%);
	color: hsl(257, 40%, 49%);
	border-radius: 50px;
	text-decoration: none;
	text-align: center;
	box-shadow: 1px 1px 1px rgb(255, 255, 255, 0.2), -5px -5px 15px rgb(0, 0, 0, 0.2), -1px -1px 1px rgb(255, 255, 255, 0.2), 5px 5px 15px rgb(0, 0, 0, 0.2);
}

main section a:hover {
	background-color: hsl(257, 40%, 49%);
	color: hsl(0, 100%, 100%);
	border: 1px solid hsl(0, 100%, 100%);
	box-shadow: 1px 1px 1px rgb(255, 255, 255, 0.2), -5px -5px 15px rgb(0, 0, 0, 0.2), -1px -1px 1px rgb(255, 255, 255, 0.2), 5px 5px 15px rgb(0, 0, 0, 0.2) inset;
}

footer{
	text-align: right;
	margin-right: 50px;
	padding: 50px;
	padding-bottom: 0px;
}

@font-face {
    font-family: 'IcoMoon-Free';
    src: url('../IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

footer .icon {
    font-family: 'IcoMoon-Free' !important;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
}

footer .icon a {
	color: hsl(0, 100%, 100%);
	text-decoration: none;
	border: 1px solid hsl(0, 100%, 100%);
	border-radius: 50px;
	outline: none;
	padding: 8px;
	margin-right: 2px;
}

footer .icon a:hover {
	color: hsl(257, 40%, 49%);
	background-color: hsl(0, 100%, 100%);
	border: none;
}

footer .icon .icon-facebook::before {
	content: '\ea90';
}

footer .icon .icon-twitter::before {
	content: '\ea96';
}

footer .icon .icon-instagram::before {
	content: '\ea92';
}

/* MEDIA QUERIES */
@media (max-width:700px){
	body {
		background-image: url(../images/bg-mobile.svg);
		background-position: top left;
		background-size: contain;
	}
	.container {
		text-align: center;
	}
	header {
	    width: 50%;
    }
	main {
		flex-direction: column;
	}
	main .image-container {
		width: 100%;
	}
	main section {
		width: 100%;
		padding: 40px 0px;
	}
	main section h1 {
		font-weight: 400;
		font-size: 30px;
	}
	main section a {
		padding: 15px 25%;
	}
	footer {
		text-align: center;
		padding: 0px;
		margin: 0px;
		margin-top: 60px;
	}
}

@media (max-width:300px){
	.container {
		padding: 15px 5px 40px 5px;
	}
	main {
		margin-top: 10px;
	}
}